{% extends 'base.html.twig' %}

{% block title %}Songré - Causes{% endblock %}

{% block body %}
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Causes populaires</h2>
                </div>
                <div class="col-12">
                    <a href="{{path('app_home_page')}}">Accueil</a>
                    <a href="">Causes</a> 
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <div class="causes">
        <div class="container">
            <div class="section-header text-center">
                <p>Nos causes populaires</p>
                <h2>Découvrez ce qui nous tiens vraiment à coeur</h2>
            </div>

            <div class="row" style="margin-bottom : 5vh">
                <div class="col-12 d-flex justify-content-between">
                    <div class="effectif"><strong>Total :</strong> {{total}}</div>
                </div>
            </div>

            {% if causes|length %}
                    <div class="owl-carousel causes-carousel">
                        {% for cause in causes %}
                            <div class="causes-item">
                                <div class="causes-img">
                                    <img src="{{asset(cause.image_cause)}}" alt="Image">
                                </div>
                                <div class="causes-progress">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="{{cause.pourcentage}}" aria-valuemin="0" aria-valuemax="100">
                                            <span>{{cause.total_cause}}%</span>
                                        </div>
                                    </div>
                                    <div class="progress-text">
                                        <p><strong>Recolté:</strong> {{cause.total_cause}}Fcfa</p>
                                        <p><strong>Objectif:</strong> {{cause.objectif_cause}}Fcfa</p>
                                    </div>
                                </div>
                                <div class="causes-text">
                                    <h3>{{cause.nom_cause}}</h3>
                                    <p>{{cause.description_cause}}</p>
                                </div>
                                <div class="causes-btn">
                                    <a href="{{path('app_cause_details', {'id_cause' : cause.id_cause})}}" class="btn btn-custom">Détails</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    {% if statut_page.nbre_pages > 1  %}
                            <div class="row" style='margin-top : 5vh'>
                                <form action="" method="get" class="col-12 d-flex justify-content-center align-items-center gap-2" id='paginationForm'>
                                    {% if statut_page.page_actuel > 1 %}
                                        <span class=' btn btn-custom' role='button' id='precedent'>
                                            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                                            Précédent
                                        </span>
                                    {% endif %}

                                    <input type="number" name="page" id="page" value="{{statut_page.page_actuel}}" class='btn border-secondary' style='width: 60px' min='1' max='{{statut_page.nbre_pages}}'>

                                    {% if statut_page.page_actuel < statut_page.nbre_pages %}
                                        <span class=' btn btn-custom' role='button' id='suivant'>
                                            Suivant
                                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                        </span>
                                    {% endif %}
                                </form>
                            </div>
                    {% endif %}
                {% else %}
                    <h2 class="text-center">Vous n'avez pas encore ajouté de causes</p>
            {% endif %}
        </div>
    </div>
{% endblock %}