{% extends 'base.html.twig' %}

{% block title %}Songré - Compte{% endblock %}


{% block body %}
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Votre compte</h2>
                </div>
                <div class="col-12">
                    <a href="{{path('app_home_page')}}">Accueil</a>
                    <a href="">Compte</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

     <!-- Volunteer Start -->
        <div class="container">
            <div class="volunteer" data-parallax="scroll" data-image-src="img/volunteer.jpg">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="volunteer-form">
                            <div class="control-group">
                                <label for="" class='form-label'>Nom & Prénom</label>
                                <input type="text" class="form-control" value="{{donateur.nom}} {{donateur.prenom}}" required="required" disabled />
                            </div>
                            <div class="control-group">
                                <label for="" class='form-label'>Email</label>
                                <input type="email" class="form-control" value="{{donateur.email}}" required="required" disabled />
                            </div>
                            <div class="control-group">
                                <label for="" class='form-label'>Contact</label>
                                <input type="email" class="form-control" value="{{donateur.contact}}" required="required" disabled />
                            </div>

                            <div class="control-group">
                                <button class="btn btn-custom" data-bs-toggle='modal' data-bs-target="#donateur-modal">Modifier les infos</button>
                            </div>

                            <div>
                                <a href="{{path('app_forgot_password_request')}}"><button class="btn btn-custom">Modifier le mot de passe</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="volunteer-content">
                            <div class="section-header">
                                <p>Félicitations à vous</p>
                                <h2>Nous sommes heureux de vous comptez parmi nos donateurs</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Volunteer End -->

        <div class="">
        <div class="container">
            <div class="section-header text-center">
                <h2>Historique de vos dons</h2>
            </div>

            <div class="row" style="margin-bottom : 5vh">
                <div class="col-12 d-flex justify-content-between">
                    <div class="effectif"><strong>Total de vos dons :</strong> {{total}} Fcfa</div>
                </div>
            </div>

            {% if dons|length %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope='col'>Cause</th>
                            <th scope="col">Montant</th>
                            <th scope='col'>Statut</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for don in dons %}
                            <tr data-bs-toggle="modal" data-bs-target='#a{{don.id_don}}'>
                                <th scope="row">{{don.date_heure|date('d/m/Y')}}</th>
                                <th>{{don.cause}}</th>
                                <td>{{don.montant}} Fcfa</td>
                                <td>
                                    {% if don.statut=="completed" %}
                                            Effectué
                                        {% else %}
                                            Annulé
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                    
                {% else %}
                    <h2 class="text-center">Vous n'avez pas encore fait de dons</h2>
            {% endif %}
        </div>

        {% if statut_page.nbre_pages > 1  %}
            <div class="row" style='margin-top : 5vh'>
                <form action="" method="get" class="col-12 d-flex justify-content-center align-items-center gap-2" id='paginationForm'>
                    {% if statut_page.page_actuel > 1 %}
                        <span class=' btn btn-custom' role='button' id='precedent'>
                            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                            Précédent
                        </span>
                    {% endif %}

                    <input type="number" name="page" id="page" value="{{statut_page.page_actuel}}" class='btn border-secondary' style='width: 60px' min='1' max='{{statut_page.nbre_pages}}'>

                    {% if statut_page.page_actuel < statut_page.nbre_pages %}
                        <span class=' btn btn-custom' role='button' id='suivant'>
                            Suivant
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </span>
                    {% endif %}
                </form>
            </div>
        {% endif %}
    </div>

        <div class="modal fade" id="donateur-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modifier vos informations personnelles</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    {{ form_start(donateurForm) }}
                        <div class="modal-body">
                            {{ form_row(donateurForm.nom_donateur) }}
                            {{ form_row(donateurForm.prenom_donateur) }}
                            {{ form_row(donateurForm.contact_donateur) }}
                        </div>
                        <div class="modal-footer">
                            <input type='submit' class="btn btn-custom" value='Modifier'>
                        </div>
                    {{ form_end(donateurForm) }}
                </div>
            </div>
        </div>

        {% for don in dons %}
        <div class="modal fade" id="a{{don.id_don}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Détails du don</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label for="" class='form-label'>Identifiant du don</label>
                        <input type="text" name="" id="" class='form-control border-0' value="{{don.id_transaction}}" disabled>

                        <label for="" class='form-label'>Date et heure</label>
                        <input type="text" name="" id="" class='form-control border-0' value="{{don.date_heure|date('d/m/Y')}} à {{don.date_heure|date('H:i:s')}}" disabled>

                        <label for="" class='form-label'>Cause</label>
                        <input type="text" name="" id="" class='form-control border-0' value="{{don.cause}}" disabled>

                        <label for="" class='form-label'>Montant</label>
                        <input type="text" name="" id="" class='form-control border-0' value="{{don.montant}} Fcfa" disabled>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-custom" data-bs-dismiss="modal" aria-label="Close">OK</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}