{% extends 'base.html.twig' %}

{% block title %}Songré - Contact{% endblock %}

{% block body %}
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Contactez nous</h2>
                </div>
                <div class="col-12">
                    <a href="{{path('app_home_page')}}">Accueil</a>
                    <a href="">Contact</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

<!-- Contact Start -->
<div class="contact">
    <div class="container">
        <div class="section-header text-center">
            <p>Contactez nous</p>
            <h2>Posez nous vos questions</h2>
        </div>
        <div class="contact-img">
            <img src="img/contact.jpg" alt="Image">
        </div>
        <div class="contact-form">
            <div id="success"></div>
            {{ form_start(contactForm) }}
                <div class="control-group mb-3">
                    {{ form_row(contactForm.sujet) }}
                </div>
                <div class="control-group mb-3">
                    {{ form_row(contactForm.message) }}
                </div>
                <div>
                    <button class="btn btn-custom" type="submit" id="sendMessageButton">Envoyer le message</button>
                </div>
            {{ form_end(contactForm) }}
        </div>
    </div>
</div>
<!-- Contact End -->
{% endblock %}