{% extends 'base.html.twig' %}

{% block title %}Songré - {{cause.nom_cause}} {% endblock %}

{% block body %}
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>{{cause.nom_cause}}</h2>
                </div>
                <div class="col-12">
                    <a href="{{path('app_home_page')}}">Accueil</a>
                    <a href="{{path('app_causes')}}">Causes</a>
                    <a href="">Détails</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <div class="single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="single-content causes">
                        <img src="{{asset(cause.image_cause)}}" height='400px'/>
                        <h2>{{cause.nom_cause}}</h2>
                        <p>
                            {{cause.description_cause}}
                        </p>

                        <div class="causes-progress">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{cause.pourcentage}}" aria-valuemin="0" aria-valuemax="100">
                                    <span>{{cause.recolte_cause}}%</span>
                                </div>
                            </div>
                            <div class="progress-text">
                                <p><strong>Recolté:</strong> {{cause.recolte_cause}}Fcfa</p>
                                <p><strong>Objectif:</strong> {{cause.objectif_cause}}Fcfa</p>
                            </div>
                        </div>

                        <p class="text-center">
                            <button class='btn btn-custom' data-bs-toggle="modal" data-bs-target="#donation-modal">Faire un don</button>
                        </p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="sidebar-widget">
                        <h2 class="widget-title">Dons récents</h2>
                        <div class="recent-post">
                            {% if donsRecents|length %}
                                    {% for don in donsRecents %}
                                        <div class="post-item">
                                            <div class="post-text">
                                                <a>{{don.donateur}}</a>
                                                <div class="post-meta">
                                                    <p>{{don.montant}} Fcfa</p>
                                                    <p>le {{don.date_heure|date("d/m/Y")}} à {{don.date_heure|date("H:i:s")}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <p>Aucun don pour le moment</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="donation-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">{{cause.nom_cause}}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    {{ form_start(donForm) }}
                        <div class="modal-body">
                            {{ form_row(donForm.montant) }}
                        </div>
                        <div class="modal-footer">
                            <input type='submit' class="btn btn-custom" value='Donner'>
                        </div>
                    {{ form_end(donForm) }}
                </div>
            </div>
        </div>
{% endblock %}