{% extends 'base.html.twig' %}

{% block title %}Songré - Contact{% endblock %}

{% block body %}
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Contactez nous</h2>
                </div>
                <div class="col-12">
                    <a href="{{path('app_home_page')}}">Accueil</a>
                    <a href="">Contact</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <h4 class='text-center'>Merci de nous avoir contacté !!! C'est avec un plaisir que nous répondrons à votre message.</h4>
{% endblock %}