{% extends 'base.html.twig' %}

{% block title %}Songré - Accueil{% endblock %}

{% block body %}

<div class="carousel">
    <div class="container-fluid">
        <div class="owl-carousel">
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="{{asset('img/carousel-1.jpg')}}" alt="Image">
                </div>
                <div class="carousel-text">
                        <h1>Donnons pour changer des vies.</h1>
                    <p>
                        Faites parler votre coeur en faisant des dons afin de sauver des vies. 
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="{{asset('img/carousel-2.jpg')}}" alt="Image">
                </div>
                <div class="carousel-text">
                    <h1>Apportons des coups de main.</h1>
                    <p>
                        Donnez un coup de pouce où c'est nécessaire : Rejoignez notre plateforme de dons pour impacter des vies et créer un monde meilleur. 
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="{{asset('img/carousel-3.jpg')}}" alt="Image">
                </div>
                <div class="carousel-text">
                    <h1>Faisons rayonner le sourire.</h1>
                    <p>
                        Rejoingnez une grande cause, donner de votre coeur afin de redonner le sourire à de nombreuse personnes.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About Start -->
<div class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img" data-parallax="scroll" data-image-src="img/about.jpg"></div>
            </div>
            <div class="col-lg-6">
                <div class="section-header">
                    <p>Qui sommes-nous?</p>
                    <h2>Organisation caritative d'aide au deplacés internes</h2>
                </div>
                <div class="about-tab">
                    <ul class="nav nav-pills nav-justified">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#tab-content-1" style='color:#4a4c70;'>A propos de nous</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#tab-content-2" style='color:#4a4c70;'>Mission</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#tab-content-3" style='color:#4a4c70;'>Vision</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="tab-content-1" class="container tab-pane active">
                            Bienvenue sur notre plateforme dédiée à soutenir les personnes déplacées internes qui ont été affectées par le terrorisme. Notre initiative est née de la conviction profonde que chaque individu mérite la sécurité, la dignité et l'espoir, peu importe les circonstances. Face aux défis posés par le terrorisme dans notre pays, nous avons pris l'engagement de rassembler des ressources et de mobiliser la communauté pour faire une réelle différence.
                        </div>
                        <div id="tab-content-2" class="container tab-pane fade">
                            Notre mission est de fournir un soutien vital et une lueur d'espoir aux personnes déplacées internes, touchées par le terrorisme. Nous nous engageons à rassembler des ressources et des dons de toutes sortes pour offrir un abri, de la nourriture, des soins médicaux et une aide essentielle, contribuant ainsi à leur reconstruction et à leur rétablissement.
                        </div>
                        <div id="tab-content-3" class="container tab-pane fade">
                            Notre vision est celle d'une communauté unie et solidaire, où chaque individu déplacé par le terrorisme retrouve la dignité, la sécurité et la possibilité de reconstruire sa vie. Nous aspirons à créer un environnement où le soutien inconditionnel des donateurs et des bénévoles crée un impact durable, aidant les déplacés internes à surmonter les traumatismes et à forger un avenir prometteur malgré  les défis.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Service Start -->
<div class="service">
    <div class="container">
        <div class="section-header text-center">
            <p>Nos actions</p>
            <h2>Nous croyons que nous pouvons sauver plus de vies avec vous</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="flaticon-diet"></i>
                    </div>
                    <div class="service-text">
                        <h3>Alimentation saine</h3>
                        <p>Garantir un accès à une alimentation saine est au cœur de nos préoccupations principales.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="flaticon-water"></i>
                    </div>
                    <div class="service-text">
                        <h3>Eau pure</h3>
                        <p> Aussi fournir un accès à de l'eau pure est l'une de nos principales priorités.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="flaticon-healthcare"></i>
                    </div>
                    <div class="service-text">
                        <h3>Soins sanitaires</h3>
                        <p>Garantir un accès aux soins est au cœur de nos préoccupations principales.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="flaticon-education"></i>
                    </div>
                    <div class="service-text">
                        <h3>Enseignement primaire</h3>
                        <p>Assurer un accès à une éducation primaire de qualité est parmi nos priorités fondamentales.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="flaticon-home"></i>
                    </div>
                    <div class="service-text">
                        <h3>Accès à un toit</h3>
                        <p>Nous voulons s'ssurer que chaque enfant ait un toit</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="flaticon-social-care"></i>
                    </div>
                    <div class="service-text">
                        <h3>Protection sociale</h3>
                        <p>Garantir une protection sociale est une de nos priorités majeures.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

<!-- Facts Start -->
<div class="facts" data-parallax="scroll" data-image-src="img/facts.jpg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-home"></i>
                    <div class="facts-text">
                        <h3 class="facts-plus" data-toggle="counter-up">{{causesTotales}}</h3>
                        <p>Causes</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-charity"></i>
                    <div class="facts-text">
                        <h3 class="facts-plus" data-toggle="counter-up">{{nbreDonateurs}}</h3>
                        <p>Donateurs</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-kindness"></i>
                    <div class="facts-text">
                        <h3 class="facts-dollar" data-toggle="counter-up">{{objectifTotale}}</h3>
                        <p>Objectif globale</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-donation"></i>
                    <div class="facts-text">
                        <h3 class="facts-dollar" data-toggle="counter-up">{{recolteTotale}}</h3>
                        <p>Recolté</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facts End -->

<div class="causes">
    <div class="container">
        <div class="section-header text-center">
            <p>Causes populaires</p>
            <h2>Découvrez ce qui nous tiens vraiment à coeur</h2>
        </div>

        {% if causes|length %}
                <div class="owl-carousel causes-carousel">
                    {% for cause in causes %}
                        <div class="causes-item">
                            <div class="causes-img">
                                <img src="{{asset(cause.image_cause)}}" alt="Image">
                            </div>
                            <div class="causes-progress">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{cause.pourcentage}}" aria-valuemin="0" aria-valuemax="100">
                                        <span>{{cause.total_cause}}%</span>
                                    </div>
                                </div>
                                <div class="progress-text">
                                    <p><strong>Recu:</strong> {{cause.total_cause}}Fcfa</p>
                                    <p><strong>Objectif:</strong> {{cause.objectif_cause}}Fcfa</p>
                                </div>
                            </div>
                            <div class="causes-text">
                                <h3>{{cause.nom_cause}}</h3>
                                <p>{{cause.description_cause}}</p>
                            </div>
                            <div class="causes-btn">
                                <a href="{{path('app_cause_details', {'id_cause' : cause.id_cause})}}" class="btn btn-custom">Détails</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <h2 class="text-center">Aucune cause n'a encore été ajoutée</p>
        {% endif %}
    </div>
</div>

<!-- Team Start -->
<div class="team">
    <div class="container">
        <div class="section-header text-center">
            <p>Notre équipe</p>
            <h2>Les merveilleuses personnes derrières ces oeuvres</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{{asset('img/team/drissa_barro.jpeg')}}" alt="Team Image" height="500px">
                    </div>
                    <div class="team-text">
                        <h2>Drissa BARRO</h2>
                        <p>Fondateur & CEO</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{{asset('img/team/nadine.jpeg')}}" alt="Team Image" height="500px">
                    </div>
                    <div class="team-text">
                        <h2>Nadine SAWADOGO</h2>
                        <p>Conseillère technique</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{{asset('img/team/yamjk1er.jpeg')}}" alt="Team Image" height="500px">
                    </div>
                    <div class="team-text">
                        <h2>Angelo YAMEOGO</h2>
                        <p>Directeur exécutif</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->

<!-- Contact Start -->
<div class="contact">
    <div class="container">
        <div class="section-header text-center">
            <p>Contactez nous</p>
            <h2>Posez nous vos questions</h2>
        </div>
        <div class="contact-img">
            <img src="img/contact.jpg" alt="Image">
        </div>
        <div class="contact-form">
            <div id="success"></div>
            {{ form_start(contactForm) }}
                <div class="control-group mb-3">
                    {{ form_row(contactForm.sujet) }}
                </div>
                <div class="control-group mb-3">
                    {{ form_row(contactForm.message) }}
                </div>
                <div>
                    <button class="btn btn-custom" type="submit" id="sendMessageButton">Envoyer le message</button>
                </div>
            {{ form_end(contactForm) }}
        </div>
    </div>
</div>
<!-- Contact End -->


{% endblock %}
