{% extends 'base.html.twig' %}

{% block title %}Songré - Infos{% endblock %}

{% block body %}
<!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>A propos de Songré</h2>
                </div>
                <div class="col-12">
                    <a href="{{path('app_home_page')}}">Accueil</a>
                    <a href="">Infos</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

<!-- About Start -->
<div class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img" data-parallax="scroll" data-image-src="img/about.jpg"></div>
            </div>
            <div class="col-lg-6">
                <div class="section-header">
                    <p>Qui sommes-nous?</p>
                    <h2>Organisation caritative d'aide au deplacés internes</h2>
                </div>
                <div class="about-tab">
                    <ul class="nav nav-pills nav-justified">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#tab-content-1" style='color:#4a4c70;'>A propos de nous</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#tab-content-2" style='color:#4a4c70;'>Mission</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#tab-content-3" style='color:#4a4c70;'>Vision</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="tab-content-1" class="container tab-pane active">
                            Bienvenue sur notre plateforme dédiée à soutenir les personnes déplacées internes qui ont été affectées par le terrorisme. Notre initiative est née de la conviction profonde que chaque individu mérite la sécurité, la dignité et l'espoir, peu importe les circonstances. Face aux défis posés par le terrorisme dans notre pays, nous avons pris l'engagement de rassembler des ressources et de mobiliser la communauté pour faire une réelle différence.
                        </div>
                        <div id="tab-content-2" class="container tab-pane fade">
                            Notre mission est de fournir un soutien vital et une lueur d'espoir aux personnes déplacées internes, touchées par le terrorisme. Nous nous engageons à rassembler des ressources et des dons de toutes sortes pour offrir un abri, de la nourriture, des soins médicaux et une aide essentielle, contribuant ainsi à leur reconstruction et à leur rétablissement.
                        </div>
                        <div id="tab-content-3" class="container tab-pane fade">
                            Notre vision est celle d'une communauté unie et solidaire, où chaque individu déplacé par le terrorisme retrouve la dignité, la sécurité et la possibilité de reconstruire sa vie. Nous aspirons à créer un environnement où le soutien inconditionnel des donateurs et des bénévoles crée un impact durable, aidant les déplacés internes à surmonter les traumatismes et à forger un avenir prometteur malgré  les défis.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Facts Start -->
<div class="facts" data-parallax="scroll" data-image-src="img/facts.jpg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-home"></i>
                    <div class="facts-text">
                        <h3 class="facts-plus" data-toggle="counter-up">{{causesTotales}}</h3>
                        <p>Causes</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-charity"></i>
                    <div class="facts-text">
                        <h3 class="facts-plus" data-toggle="counter-up">{{nbreDonateurs}}</h3>
                        <p>Donateurs</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-kindness"></i>
                    <div class="facts-text">
                        <h3 class="facts-dollar" data-toggle="counter-up">{{objectifTotale}}</h3>
                        <p>Objectif globale</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-donation"></i>
                    <div class="facts-text">
                        <h3 class="facts-dollar" data-toggle="counter-up">{{recolteTotale}}</h3>
                        <p>Recolté</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facts End -->

<!-- Team Start -->
<div class="team">
    <div class="container">
        <div class="section-header text-center">
            <p>Notre équipe</p>
            <h2>Les merveilleuses personnes derrières ces oeuvres</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{{asset('img/team/drissa_barro.jpeg')}}" alt="Team Image" height="500px">
                    </div>
                    <div class="team-text">
                        <h2>Drissa BARRO</h2>
                        <p>Fondateur & CEO</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{{asset('img/team/nadine.jpeg')}}" alt="Team Image" height="500px">
                    </div>
                    <div class="team-text">
                        <h2>Nadine SAWADOGO</h2>
                        <p>Conseillère technique</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{{asset('img/team/yamjk1er.jpeg')}}" alt="Team Image" height="500px">
                    </div>
                    <div class="team-text">
                        <h2>Angelo YAMEOGO</h2>
                        <p>Directeur exécutif</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
{% endblock %}