{% extends 'base.html.twig' %}

{% block title %}Songré - Paiement{% endblock %}

{% block body %}
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>{{cause.nom_cause}}</h2>
                </div>
                <div class="col-12">
                    <a href="{{path('app_home_page')}}">Accueil</a>
                    <a href="{{path('app_causes')}}">Causes</a>
                    <a href="{{path('app_cause_details', {'id_cause' : cause.id_cause})}}">Détails</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <h4 class='text-center'>Toute l'équipe de Songré vous remercie infiniment pour votre don !!!</h4>
{% endblock %}