{% extends 'base.html.twig' %}

{% block title %}Songré - Connexion{% endblock %}

{% block body %}
<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Une main généreuse</h2>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Donate Start -->
    <div class="donate" data-parallax="scroll" data-image-src="img/donate.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="donate-content">
                        <div class="section-header">
                            <p>Ravi de vous revoir</p>
                            <h2>Connectez vous à votre compte pour accéder à la plateforme</h2>
                        </div>
                        {# <div class="donate-text">
                            <p>
                                Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non. Aliquam metus tortor, auctor id gravida, viverra quis sem. Curabitur non nisl nec nisi maximus. Aenean convallis porttitor. Aliquam interdum at lacus non blandit.
                            </p>
                        </div> #}
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="donate-form">
                        <form method='post'>
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}


                            <div class="control-group">
                                <label for="inputEmail">Email</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                            </div>
                            <div class="control-group">
                                <label for="inputPassword">Password</label>
                                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                            </div>
                            <input type="hidden" name="_csrf_token"
                                value="{{ csrf_token('authenticate') }}"
                            >

                            <div class="checkbox mb-3">
                                <label for="_remember_me">
                                    <input type="checkbox" name="_remember_me" id="_remember_me"> Se souvenir de moi
                                </label>
                            </div>
        
                            <div class="mb-3">
                                <button class="btn btn-custom" type="submit">Se connecter</button>
                            </div>
                            <div class="mb-3">
                                <a href="{{path('app_forgot_password_request')}}"><span class="btn btn-custom">Mot de passe oulié</span></a>
                            </div>
                            <div class="mb-3">
                                <a href="{{path('app_register')}}"><span class="btn btn-custom">S'inscrire</span></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Donate End -->
{% endblock %}
