<h1>Confirmez votre email!</h1>

<p>
    Veuillez bien confirmer votre mail en cliquant sur le lien suivant <br><br>
    <a href="{{ signedUrl|raw }}">Confirmez mon mail</a>.
    Ce lien expirera dans 01 heure.
</p>

<p>
    Cheers!
</p>
