{% extends 'base.html.twig' %}

{% block title %}Songré - Inscription{% endblock %}

{% block body %}
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Une main généreuse</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <!-- Volunteer Start -->
        <div class="volunteer-form-box" data-parallax="scroll" data-image-src="img/volunteer.jpg">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="volunteer-form">
                            {{ form_start(registrationForm) }}
                                <div class="control-group">
                                    {{ form_row(registrationForm.nom_donateur) }}
                                </div>
                                <div class="control-group">
                                    {{ form_row(registrationForm.prenom_donateur) }}
                                </div>
                                <div class="control-group">
                                     {{ form_row(registrationForm.contact_donateur) }}
                                </div>
                                <div class="control-group">
                                    {{ form_row(registrationForm.email) }}
                                </div>
                                <div class="control-group">
                                    {{ form_row(registrationForm.plainPassword) }}
                                </div>
                                <div class="control-group">
                                    {{ form_row(registrationForm.agreeTerms) }}
                                </div>
                                <div class='mb-3'>
                                    <button class="btn btn-custom" type="submit">S'inscrire</button>
                                </div>
                                <div class="mb-3">
                                    <a href="{{path('app_login')}}"><span class="btn btn-custom">Se connecter</span></a>
                                </div>
                            {{ form_end(registrationForm) }}
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="volunteer-content">
                            <div class="section-header">
                                <p>Devenez un donateur</p>
                                <h2>Faisons la différence dans la vie des autres.</h2>
                            </div>
                            <div class="volunteer-text">
                                <p>
                                    En devenant volontaire, vous prenez part à une symphonie d'empathie et de compassion qui transcende les frontières. Votre temps, vos compétences et votre cœur peuvent illuminer des vies dans l'obscurité, offrir de l'espoir là où il est rare et construire des ponts entre les gens, quels que soient leurs horizons. Vous ne mesurez peut-être pas toujours l'ampleur de votre impact, mais chaque sourire, chaque main tendue et chaque moment d'écoute réchauffent le cœur de quelqu'un, façonnant un monde meilleur à chaque geste.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Volunteer End -->

{% endblock %}
