{% extends 'base.html.twig' %}

{% block title %}Songré{% endblock %}

{% block body %}
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Une main généreuse</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <h4 class='text-center'>Votre compte a été créé mais n'as pas encore été vérifié</h4>
    <p class='text-center'>Veuillez vérifier votre compte en suivant les instructions qui vont été envoyées par mail</p>
    <p class='text-center'>Si vous n'avez toujours pas reçu le mail ou s'il a expiré, cliquer sur <a href="{{path('app_renvoyer_mail')}}">Renvoyez moi le mail</a></p>
{% endblock %}