{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
 <!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Une main généreuse</h2>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
    <h4 class='text-center'>
        Si votre adresse mail existe dans la base de données, vous recevrez un email contenant un lien que vous pourrez utiliser pour réinitialiser votre mot de passe. Celui ci expirera dans 01 heure.
    </h4>
    <p class='text-center'>Si vous ne recevez pas le mail, vérifiez vos spams ou <a href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>
{% endblock %}
