<h1>Salut !</h1>

<p>Pour réinitialiser votre mot de passe, cliquez sur le lien suivant</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">Réinitialiser mon mot de passe</a>

<p>Ce lien expirera dans 01 heure</p>

<p>Cordialement!</p>
