{% extends 'base.html.twig' %}

{% block title %}Songré - Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Une main généreuse</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <!-- Donate Start -->
    <div class="donate" data-parallax="scroll" data-image-src="img/donate.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="donate-content">
                        <div class="section-header">
                            <p>Oups !!!</p>
                            <h2>Il semblerait que vous ayez oublié votre mot de passe !</h2>
                        </div>
                        {# <div class="donate-text">
                            <p>
                                Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non. Aliquam metus tortor, auctor id gravida, viverra quis sem. Curabitur non nisl nec nisi maximus. Aenean convallis porttitor. Aliquam interdum at lacus non blandit.
                            </p>
                        </div> #}
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="donate-form">
                        {{ form_start(requestForm) }}
                            {{ form_row(requestForm.email) }}
                            <div class='mb-3'>
                                <small>
                                    Entrez votre email et nous enverrons un lien pour réinitialiser votre mot de passe.
                                </small>
                            </div>

                            <button class="btn btn-custom">Envoyer le mail de réinitialisation</button>
                        {{ form_end(requestForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Donate End -->
{% endblock %}
