{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
     <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Une main généreuse</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Donate Start -->
    <div class="donate" data-parallax="scroll" data-image-src="img/donate.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="donate-content">
                        <div class="section-header">
                            <p>Vous y êtes presque !!!</p>
                            <h2>Vous pouvez à présent réinitialiser votre mot de passe</h2>
                        </div>
                        {# <div class="donate-text">
                            <p>
                                Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non. Aliquam metus tortor, auctor id gravida, viverra quis sem. Curabitur non nisl nec nisi maximus. Aenean convallis porttitor. Aliquam interdum at lacus non blandit.
                            </p>
                        </div> #}
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="donate-form">
                        {{ form_start(resetForm) }}
                            {{ form_row(resetForm.plainPassword) }}

                            <button class="btn btn-custom">Réinitialiser</button>
                        {{ form_end(resetForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Donate End -->
    
{% endblock %}
