{% extends 'base.html.twig' %}

{% block title %}Songré - {{cause.nom_cause}} {% endblock %}

{% block body %}
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>{{cause.nom_cause}}</h2>
                </div>
                <div class="col-12">
                    <a href="{{path('app_admin')}}">Admin</a>
                    <a href="{{path('app_admin_causes')}}">Causes</a>
                    <a href="">Détails</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <div class="single">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-10">
                    <div class="single-content causes">
                        <img src="{{asset(cause.image_cause)}}" height='400px'/>
                        <h2>{{cause.nom_cause}}</h2>
                        <p>
                            {{cause.description_cause}}
                        </p>

                        <div class="causes-progress">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{cause.pourcentage}}" aria-valuemin="0" aria-valuemax="100">
                                    <span>{{cause.recolte_cause}}%</span>
                                </div>
                            </div>
                            <div class="progress-text">
                                <p><strong>Recolté:</strong> {{cause.recolte_cause}}Fcfa</p>
                                <p><strong>Objectif:</strong> {{cause.objectif_cause}}Fcfa</p>
                            </div>
                        </div>

                        <p class="text-center">
                            {% if cause.archive %}
                                    <button class='btn btn-custom' data-bs-toggle="modal" data-bs-target="#desarchive-modal">Retirer des archives</button>
                                {% else %}
                                    <button class='btn btn-custom' data-bs-toggle="modal" data-bs-target="#archive-modal">Archiver</button>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <div class="container">
            <div class="section-header text-center">
                <h2>Historique des dons</h2>
            </div>

            {% if dons|length %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope='col'>Donateur</th>
                            <th scope="col">Montant</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for don in dons %}
                            <tr data-bs-toggle="modal" data-bs-target='#a{{don.id_don}}'>
                                <th scope="row">{{don.date_heure|date('d/m/Y')}}</th>
                                <th>{{don.donateur}}</th>
                                <td>{{don.montant}} Fcfa</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                    
                {% else %}
                    <h2 class="text-center">Aucun don n'a encore été fait pour cette cause</h2>
            {% endif %}
        </div>
    </div>

    <div class="modal fade" id="archive-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Archiver la cause</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Si vous archivez cette cause, celle ci ne sera plus visible par les visiteurs
                </div>
                <div class="modal-footer">
                    <a href="{{path('app_admin_cause_archiver', {'id_cause' : cause.id_cause})}}"><button class="btn btn-custom">Archiver</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="desarchive-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Retirer la cause des archives</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Si vous retirez cette cause des archives, celle ci sera de nouveau visible par les visiteurs
                </div>
                <div class="modal-footer">
                    <a href="{{path('app_admin_cause_desarchiver', {'id_cause' : cause.id_cause})}}"><button class="btn btn-custom">Retirer</button></a>
                </div>
            </div>
        </div>
    </div>

    {% for don in dons %}
        <div class="modal fade" id="a{{don.id_don}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Détails du don</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label for="" class='form-label'>Identifiant du don</label>
                        <input type="text" name="" id="" class='form-control border-0' value="{{don.id_transaction}}" disabled>

                        <label for="" class='form-label'>Date et heure</label>
                        <input type="text" name="" id="" class='form-control border-0' value="{{don.date_heure|date('d/m/Y')}} à {{don.date_heure|date('H:i:s')}}" disabled>

                        <label for="" class='form-label'>Donateur</label>
                        <input type="text" name="" id="" class='form-control border-0' value="{{don.donateur}}" disabled>

                        <label for="" class='form-label'>Montant</label>
                        <input type="text" name="" id="" class='form-control border-0' value="{{don.montant}} Fcfa" disabled>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-custom" data-bs-dismiss="modal" aria-label="Close">OK</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}