{% extends 'base.html.twig' %}

{% block title %}Songré - Donateurs{% endblock %}

{% block body %}
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Panneau d'administration</h2>
                </div>
                <div class="col-12">
                    <a href="{{path('app_admin')}}">Admin</a>
                    <a href="">Donateurs</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

     <div class="">
        <div class="container">
            <div class="section-header text-center">
                <h2>Annuaire des donateurs</h2>
            </div>

            {% if donateurs|length %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Nom&Prénoms</th>
                            <th scope="col">Nombre de dons</th>
                            <th scope='col'>Contribution totale</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for donateur in donateurs %}
                            <tr data-bs-toggle="modal" data-bs-target='#a{{donateur.id_donateur}}'>
                                <th>{{donateur.nom_donateur}} {{donateur.prenom_donateur}}</th>
                                <th>{{donateur.contribution_donateur}}</th>
                                <th>{{donateur.total_donateur}} Fcfa</th>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                    
                {% else %}
                    <h2 class="text-center">Aucun donateur ne s'est encore inscris sur plateforme</h2>
            {% endif %}
        </div>

        {% if statut_page.nbre_pages > 1  %}
            <div class="row" style='margin-top : 5vh'>
                <form action="" method="get" class="col-12 d-flex justify-content-center align-items-center gap-2" id='paginationForm'>
                    {% if statut_page.page_actuel > 1 %}
                        <span class=' btn btn-custom' role='button' id='precedent'>
                            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                            Précédent
                        </span>
                    {% endif %}

                    <input type="number" name="page" id="page" value="{{statut_page.page_actuel}}" class='btn border-secondary' style='width: 60px' min='1' max='{{statut_page.nbre_pages}}'>

                    {% if statut_page.page_actuel < statut_page.nbre_pages %}
                        <span class=' btn btn-custom' role='button' id='suivant'>
                            Suivant
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </span>
                    {% endif %}
                </form>
            </div>
        {% endif %}
    </div>

    {% for donateur in donateurs %}
        <div class="modal fade" id="a{{donateur.id_donateur}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Infos du donateur</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label for="" class='form-label'>Nom&Prénoms</label>
                        <input type="text" name="" id="" class='form-control border-0' value="{{donateur.nom_donateur}} {{donateur.prenom_donateur}}" disabled>

                        <label for="" class='form-label'>Email</label>
                        <input type="text" name="" id="" class='form-control border-0' value="{{donateur.email_donateur}}" disabled>

                        <label for="" class='form-label'>Contact</label>
                        <input type="text" name="" id="" class='form-control border-0' value="{{donateur.contact_donateur}}" disabled>

                        <label for="" class='form-label'>Nombre de dons</label>
                        <input type="text" name="" id="" class='form-control border-0' value="{{donateur.contribution_donateur}}" disabled>

                        <label for="" class='form-label'>Contribution totale</label>
                        <input type="text" name="" id="" class='form-control border-0' value="{{donateur.total_donateur}} Fcfa" disabled>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-custom" data-bs-dismiss="modal" aria-label="Close">OK</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}