{% extends 'base.html.twig' %}

{% block title %}Songré - Panneau d'administration{% endblock %}

{% block body %}
<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Panneau d'administration</h2>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<div class="container">
    <div class="row d-flex justify-content-around">
        <div class="col-sm-3" title="Voir les causes">
          <a href="{{path('app_admin_causes')}}">
            <div class="card text-start border-0">
              <img class="card-img-top mb-3" src="{{asset('img/icones/charite.png')}}" alt="Title">
              <div class="card-body">
                <p class="text-center fs-3">Causes</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-3" title="Voir les dons">
          <a href="{{path('app_admin_donateurs')}}">
            <div class="card text-start border-0">
              <img class="card-img-top mb-3" src="{{asset('img/icones/donation.png')}}" alt="Title">
              <div class="card-body">
                <p class="text-center fs-3">Donateurs</p>
              </div>
            </div>
          </a>
        </div>
    </div>
</div>

{% endblock %}
