<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>

    
<body>
    <div class="single">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-10">
                    <div class="single-content causes">
                        <h2>{{cause.nom_cause}}</h2>
                        <p>
                            {{cause.description_cause}}
                        </p>

                        <p class="text-center">
                            <a href="{{url('app_cause_details', {'id_cause' : cause.id_cause})}}">Voir sur la plateforme</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>